<!DOCTYPE html>
<html lang="en">
<head>
  {% include "bootstrap.html" %}
  <title> CareerGlide</title>
  <link rel="stylesheet" href="/static/style.css" >
</head>
<body>

<!-------------nav bar ------------->
 {% include "nav.html" %}

<!-- ------------heading-------------- -->
<div id="header1">
  <div class="head">
    <h1  class="text-center mt-2 mb-4">Career Glide</h1>
  </div> 
</div>

<!-- ------------about-------------- -->
<div id="about">
  <div class="container">
      <div class="row">
          <div class="about-col1">
            {% include "banner.html" %}
          </div>
          <div class="about-col2">
            <h2 class="subtitle mb-4">About CareerGlide</h2>
               <p>Welcome to CareerGlide, where we believe in empowering individuals to achieve their career aspirations with confidence and ease. Our mission is to provide a seamless platform that fosters professional growth, connects talent with opportunities, and guides you on a journey of continuous success in your chosen career path.
               </p>  
               <h4>Our Vision</h4>
               <p>At CareerGlide, we envision a world where every individual has the tools and support needed to navigate their career journey effortlessly. Whether you're a recent graduate stepping into the professional world or a seasoned professional seeking new horizons, CareerGlide is your trusted companion in the pursuit of career excellence.</p> 
          </div>
        </div>
  </div>
</div>

<!-- -----------job positions------------- -->
<div id="jobposition">
    <div class="subtitle">
      <h2  class="text-center mt-2 mt-4">Open Positions</h2>
    </div> 
    <div class="list">
      {% for job in jobs %}
      {% include 'jobitems.html' %}
      {% endfor %}
    </div>
</div>


<!----------------------contact---------------------------->
<div id="contact">
{% include "footer.html" %}
</div>

</body>
</html>