<div class="mb-4 border-bottom p-3 row"> 
  <div class="col-9">
  <h1>{{ job['Title'] }}</h1>  
   <div>
     <b>Location:</b> {{ job['Location'] }}
   </div>
   {% if 'salary' in job %}
   <div>
     <b>Salary:</b> {{ job['Salary'] }}
   </div>
   {% endif %}
  </div>
  <div class="col-3">
  <a href="mailto:career@gmail.com?subject=Application%20For%20{{job['title']}}&body=Name%20%3A%20%3CYour%20Name%3E%0D%0AResume%20%3A%20%3CResume%20Link%3E%0D%0ALinkedin%20%3A%20%3CLinkedin%20Link%3E%0D%0AGithub%20%3A%20%3CGithub%20link%3E" type="button" class="btn btn-outline-primary">Apply</a>
  </div>
 </div>