<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/style.css" >
</head>
<body>
<div id="header" class="fixed-top">
  <div class="container ">
      <nav>
          <p id="logo" > <span>C</span>areerGlide </p>
          <ul>
              <li><a href="#header1">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#jobposition">Open Positions</a></li>

              <li><a href="#contact">Contact</a></li>
          </ul>
      </nav>
    </div>
</div>
</body>
</html>